.modal {
    z-index: 100;
    position: fixed;
    top: 35vh;
    left: 10%;
    width: 80%;
   height: 100%; 
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }

.modal__content {
    padding: 1rem 0.5rem;
  }

 

  .geocoder {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: left;
    font-family: "Arial";
    margin: 0;
    font-size: 13px;
  }